.layout {
  margin: 0 auto;
  max-width: 600px;
}

.h1 {
  text-align: center;
}

.ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: white 1px solid;
  border-radius: 8px;
  margin: 10px;

  span {
    font-size: large;
  }
}

.img {
  height: 200px;
  width: auto;
}

.btn {
  display: flex;
  justify-content: center;
}