.pin {
  position: absolute;
  width: 60px;
  height: 60px;

  transform: translate(-50%, -97%);

  z-index: 10;
  pointer-events: none;

  filter:
    drop-shadow(1px 1px  black)
    drop-shadow(1px -1px black)
    drop-shadow(-1px 1px black)
    drop-shadow(-1px -1px black);
}